/* Reset some default styles */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
}

header {
    background: linear-gradient(to right, orange, rgb(243, 125, 56));
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
}

nav {
    display: flex;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 10px;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

/* Hero section and other styles... */


.hero {
    text-align: center;
    padding: 50px 1;
    background-color: #f0f0f0;
}

.hero img {
    max-width: 25%;
    height: auto;
}

.hero h1 {
    font-size: 36px;
    margin: 20px 0;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
}

.latest-news {
    padding: 50px;
}

.news-card {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
}

.news-card img {
    max-width: 100%;
    height: auto;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: #fff;
}
