/* Reset some default styles */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

/* Basic styling */
body {
    background: linear-gradient(to right, #FD8137, white);
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background:#FD8137;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s; /* Smooth color transition on hover */
}

nav ul li a:hover {
    color: #FD8137; /* Change color on hover */
}

/* Hero section and other styles... */


.hero {
    text-align: center;
    padding: 50px 1;
    background-color: linear-gradient(to right, #FD8137, black);
}

.hero img {
    max-width: 25%;
    height: auto;
}

.hero h1 {
    font-size: 36px;
    margin: 20px 0;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s; /* Smooth background color transition on hover */
    margin-top: 15px;
}

.cta-button:hover {
    background-color: #555; /* Change background color on hover */
}

.latest-news {
    padding: 50px;
}

.news-card {
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 5px;
}

.news-card img {
    max-width: 5%;
    height: auto;
}

.WIP {
    text-align: center;
    padding: 25px 1;
    background-color: white;
    border-radius: 5px;
    margin: 500;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: #fff;
}
